# Refactored version

**Goals:**
- Create dates columns from the second date of the reporting_period 
  (check if the dates of reports are the same)
- Replace <6 with 1, with 3, with 5 (3 new separate columns)
- Create ***true_city*** column for adequate mapping with existing town-level layers

In [1]:
import pandas as pandas
from sodapy import Socrata
import numpy as np

import matplotlib.pyplot as plt

## Query all data
###### Query school data without any limitations

In [2]:
client = Socrata("data.ct.gov", None)
df = pandas.DataFrame.from_records(client.get("u8jq-fxc2",limit=1000000))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39463 entries, 0 to 39462
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   district          39463 non-null  object
 1   facilityid        39463 non-null  object
 2   facilityname      39463 non-null  object
 3   city              39462 non-null  object
 4   school_total      39463 non-null  object
 5   reporting_period  39463 non-null  object
 6   dateupdated       39463 non-null  object
dtypes: object(7)
memory usage: 2.1+ MB

In [4]:
df['facilityid'] = pandas.to_numeric(df['facilityid'])

In [5]:
df.school_total.unique()

array(['0', '<6', '8', '6', '7', '9', '13', '12', '10', '14', '11', '18',
       '15', '16', '37', '17', '19', '23', '21', '26', '24', '20', '31',
       '27', '30'], dtype=object)

In [6]:
df.facilityid.nunique()

2373

In [7]:
df.loc[df.facilityid == 2856]

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated
1681,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,02/11/2021-02/17/2021,2021-02-18T00:00:00.000
4054,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,02/04/2021-02/10/2021,2021-02-11T00:00:00.000
6427,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,01/28/2021-02/03/2021,2021-02-04T00:00:00.000
8800,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,01/21/2021-01/27/2021,2021-01-28T00:00:00.000
11173,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,01/14/2021-01/20/2021,2021-01-21T00:00:00.000
13546,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,01/07/2021-01/13/2021,2021-01-14T00:00:00.000
15919,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,12/31/2020-01/06/2021,2021-01-07T00:00:00.000
18292,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,12/24/2020-12/30/2020,2020-12-30T00:00:00.000
20665,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,14,12/17/2020-12/23/2020,2020-12-23T00:00:00.000
23038,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,12/10/2020-12/16/2020,2020-12-16T00:00:00.000
25411,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,12/03/2020-12/09/2020,2020-12-10T00:00:00.000
27784,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,11/26/2020-12/02/2020,2020-12-03T00:00:00.000
30157,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,11/19/2020-11/25/2020,2020-11-25T00:00:00.000
32530,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,11/12/2020-11/18/2020,2020-11-19T00:00:00.000
34903,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,11/05/2020-11/11/2020,2020-11-12T00:00:00.000
37272,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,<6,10/29/2020-11/04/2020,2020-11-05T00:00:00.000
39022,Ridgefield School District,2856,Farmingville Elementary School,Ridgefield,0,10/22/2020 - 10/28/2020,2020-10-29T00:00:00.000

In [8]:
df.city.nunique()
# list(results_full_df.city.unique())

195

### Create 2 new columns: start of the reporting period and the end of the reporting period

In [9]:
df[['reporting_period_start','reporting_period_end']] = df.reporting_period.str.split("-",expand=True)

In [10]:
df[['reporting_period', 'reporting_period_start','reporting_period_end']]

              reporting_period reporting_period_start reporting_period_end
0        02/11/2021-02/17/2021             02/11/2021           02/17/2021
1        02/11/2021-02/17/2021             02/11/2021           02/17/2021
2        02/11/2021-02/17/2021             02/11/2021           02/17/2021
3        02/11/2021-02/17/2021             02/11/2021           02/17/2021
4        02/11/2021-02/17/2021             02/11/2021           02/17/2021
...                        ...                    ...                  ...
39458  10/22/2020 - 10/28/2020            10/22/2020            10/28/2020
39459  10/22/2020 - 10/28/2020            10/22/2020            10/28/2020
39460  10/22/2020 - 10/28/2020            10/22/2020            10/28/2020
39461  10/22/2020 - 10/28/2020            10/22/2020            10/28/2020
39462  10/22/2020 - 10/28/2020            10/22/2020            10/28/2020

[39463 rows x 3 columns]

In [11]:
for column in ['reporting_period_start', 'reporting_period_end', 'dateupdated']:
    df[column] = pandas.to_datetime(df[column])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39463 entries, 0 to 39462
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   district                39463 non-null  object
 1   facilityid              39463 non-null  int64
 2   facilityname            39463 non-null  object
 3   city                    39462 non-null  object
 4   school_total            39463 non-null  object
 5   reporting_period        39463 non-null  object
 6   dateupdated             39463 non-null  datetime64[ns]
 7   reporting_period_start  39463 non-null  datetime64[ns]
 8   reporting_period_end    39463 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(5)
memory usage: 2.7+ MB

In [13]:
df

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end
0,Achievement First Bridgeport Academy District,3673,Achievement First Bridgeport Academy,Bridgeport,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17
1,Achievement First Hartford Academy District,3675,Achievement First Hartford Academy,Hartford,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17
2,Amistad Academy District,3669,Amistad Academy,New Haven,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17
3,Andover School District,1402,Andover Elementary School,Andover,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17
4,Ansonia School District,1416,Ansonia 18-21 Transition Program,Ansonia,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17
...,...,...,...,...,...,...,...,...,...
39458,Wolcott School District,3499,Wakelee School,Wolcott,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28
39459,Wolcott School District,3502,Wolcott High School,Wolcott,<6,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28
39460,Woodbridge School District,3504,Beecher Road School,Woodbridge,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28
39461,Woodstock School District,3508,Woodstock Elementary School,Woodstock,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28
39462,Woodstock School District,3509,Woodstock Middle School,Woodstock,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28

### The end of reporting periods are consistent starting at 11/11/2020

In [14]:
df.reporting_period_end.value_counts()

2020-12-09    2373
2021-01-27    2373
2021-02-10    2373
2020-11-11    2373
2021-02-17    2373
2020-11-18    2373
2020-11-25    2373
2020-12-02    2373
2021-02-03    2373
2020-12-16    2373
2020-12-23    2373
2020-12-30    2373
2021-01-06    2373
2021-01-13    2373
2021-01-20    2373
2020-11-04    2368
2020-10-28    1500
Name: reporting_period_end, dtype: int64

### Create 3 new columns derifed from *school_total* (lower, mid and upper estimates)

In [15]:
df['school_total_lower_est'] = pandas.to_numeric(df['school_total'].replace('<6', '1'))
df['school_total_mid_est'] = pandas.to_numeric(df['school_total'].replace('<6', '3'))
df['school_total_upper_est'] = pandas.to_numeric(df['school_total'].replace('<6', '5'))

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39463 entries, 0 to 39462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   district                39463 non-null  object
 1   facilityid              39463 non-null  int64
 2   facilityname            39463 non-null  object
 3   city                    39462 non-null  object
 4   school_total            39463 non-null  object
 5   reporting_period        39463 non-null  object
 6   dateupdated             39463 non-null  datetime64[ns]
 7   reporting_period_start  39463 non-null  datetime64[ns]
 8   reporting_period_end    39463 non-null  datetime64[ns]
 9   school_total_lower_est  39463 non-null  int64
 10  school_total_mid_est    39463 non-null  int64
 11  school_total_upper_est  39463 non-null  int64
dtypes: datetime64[ns](3), int64(4), object(5)
memory usage: 3.6+ MB

In [17]:
df.district.nunique()

221

In [18]:
df.city.nunique()

195

In [19]:
df.loc[df.city.isna()]

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,school_total_mid_est,school_total_upper_est
37645,Wallingford School District,3799,Wallingford Transition Academy,NaN,<6,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,1,3,5

**NOTE:** could not identify the actual location of facility - a candidate to be dropped out from the dataset

In [20]:
df.dropna(subset=['city'],inplace=True)

In [21]:
"""
this is actually Litchfield
"""
df.loc[df.city == 'CT']

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,school_total_mid_est,school_total_upper_est
945,Litchfield School District,2211,Litchfield Intermediate School,CT,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0
3318,Litchfield School District,2211,Litchfield Intermediate School,CT,0,02/04/2021-02/10/2021,2021-02-11,2021-02-04,2021-02-10,0,0,0
5691,Litchfield School District,2211,Litchfield Intermediate School,CT,0,01/28/2021-02/03/2021,2021-02-04,2021-01-28,2021-02-03,0,0,0
8064,Litchfield School District,2211,Litchfield Intermediate School,CT,0,01/21/2021-01/27/2021,2021-01-28,2021-01-21,2021-01-27,0,0,0
10437,Litchfield School District,2211,Litchfield Intermediate School,CT,0,01/14/2021-01/20/2021,2021-01-21,2021-01-14,2021-01-20,0,0,0
12810,Litchfield School District,2211,Litchfield Intermediate School,CT,0,01/07/2021-01/13/2021,2021-01-14,2021-01-07,2021-01-13,0,0,0
15183,Litchfield School District,2211,Litchfield Intermediate School,CT,0,12/31/2020-01/06/2021,2021-01-07,2020-12-31,2021-01-06,0,0,0
17556,Litchfield School District,2211,Litchfield Intermediate School,CT,0,12/24/2020-12/30/2020,2020-12-30,2020-12-24,2020-12-30,0,0,0
19929,Litchfield School District,2211,Litchfield Intermediate School,CT,0,12/17/2020-12/23/2020,2020-12-23,2020-12-17,2020-12-23,0,0,0
22302,Litchfield School District,2211,Litchfield Intermediate School,CT,0,12/10/2020-12/16/2020,2020-12-16,2020-12-10,2020-12-16,0,0,0
24675,Litchfield School District,2211,Litchfield Intermediate School,CT,0,12/03/2020-12/09/2020,2020-12-10,2020-12-03,2020-12-09,0,0,0
27048,Litchfield School District,2211,Litchfield Intermediate School,CT,0,11/26/2020-12/02/2020,2020-12-03,2020-11-26,2020-12-02,0,0,0
29421,Litchfield School District,2211,Litchfield Intermediate School,CT,<6,11/19/2020-11/25/2020,2020-11-25,2020-11-19,2020-11-25,1,3,5
31794,Litchfield School District,2211,Litchfield Intermediate School,CT,0,11/12/2020-11/18/2020,2020-11-19,2020-11-12,2020-11-18,0,0,0
34167,Litchfield School District,2211,Litchfield Intermediate School,CT,0,11/05/2020-11/11/2020,2020-11-12,2020-11-05,2020-11-11,0,0,0
36538,Litchfield School District,2211,Litchfield Intermediate School,CT,0,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,0,0,0
38567,Litchfield School District,2211,Litchfield Intermediate School,CT,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,0,0

In [22]:
df.loc[df.city == 'CT', 'city'] = 'Litchfield'

In [23]:
import os
if not os.path.exists('data_storage'):
    os.makedirs('data_storage')

df.to_csv('data_storage/schools.csv', index=False)
df.to_pickle('data_storage/schools.pkl')

## Merge to Towns

In [24]:
towns_pop = pandas.read_csv("Towns_Pops.csv")

In [25]:
towns_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Town    169 non-null    object
 1   Pop     169 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.8+ KB

In [26]:
"""
Check which School towns are not mentioned in 
"""

cities_to_map = [school_town for school_town in list(df.city.unique()) 
                 if school_town not in list(towns_pop.Town.unique())]
cities_to_map

['Northford',
 'East Berlin',
 'Falls Village',
 'West Cornwall',
 'Moodus',
 'Niantic',
 'Broad Brook',
 'Terryville',
 'Centerbrook',
 'Unionville',
 'North Franklin',
 'South Glastonbury',
 'Riverside',
 'Cos Cob',
 'Old Greenwich',
 'Rogers',
 'Gales Ferry',
 'Uncasville',
 'Moosup',
 'Central Village',
 'Pomfret Center',
 'Hawrinton',
 'Winsted',
 'Weatogue',
 'Tariffville',
 'Stafford Springs',
 'West Suffield',
 'Yalesville',
 'West Willington',
 'North Windham']

In [27]:
map_dict = {}
for city in cities_to_map:
    map_dict[city] = 'blank'

In [28]:
map_dict

{'Northford': 'blank',
 'East Berlin': 'blank',
 'Falls Village': 'blank',
 'West Cornwall': 'blank',
 'Moodus': 'blank',
 'Niantic': 'blank',
 'Broad Brook': 'blank',
 'Terryville': 'blank',
 'Centerbrook': 'blank',
 'Unionville': 'blank',
 'North Franklin': 'blank',
 'South Glastonbury': 'blank',
 'Riverside': 'blank',
 'Cos Cob': 'blank',
 'Old Greenwich': 'blank',
 'Rogers': 'blank',
 'Gales Ferry': 'blank',
 'Uncasville': 'blank',
 'Moosup': 'blank',
 'Central Village': 'blank',
 'Pomfret Center': 'blank',
 'Hawrinton': 'blank',
 'Winsted': 'blank',
 'Weatogue': 'blank',
 'Tariffville': 'blank',
 'Stafford Springs': 'blank',
 'West Suffield': 'blank',
 'Yalesville': 'blank',
 'West Willington': 'blank',
 'North Windham': 'blank'}

##### map_dict is necessary to create a new column with in school table for mapping with city-level cases

In [29]:
map_dict = {'Northford': 'New Haven',
             'East Berlin': 'Berlin',
             'Falls Village': 'Canaan',
             'West Cornwall': 'Cornwall',
             'Moodus': 'East Haddam',
             'Niantic': 'East Lyme',
             'Broad Brook': 'East Windsor',
             'Terryville': 'Plymouth',
             'Centerbrook': 'Essex',
             'Unionville': 'Farmington',
             'North Franklin': 'Franklin',
             'South Glastonbury': 'Glastonbury',
             'Riverside': 'Riverside',
             'Cos Cob': 'Greenwich',
             'Old Greenwich': 'Greenwich',
             'Rogers': 'Killingly',
             'Gales Ferry': 'Ledyard',
             'Uncasville': 'Montville',
             'Moosup': 'Plainfield',
             'Central Village': 'Plainfield',
             'Pomfret Center': 'Pomfret',
             'Hawrinton': 'Litchfield',
             'Winsted': 'Litchfield',
             'Weatogue': 'Simsbury',
             'Tariffville': 'Simsbury',
             'Stafford Springs': 'Stafford',
             'West Suffield': 'Suffield',
             'Yalesville': 'Wallingford',
             'West Willington': 'Tolland',
             'North Windham': 'Windham'}

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39462 entries, 0 to 39462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   district                39462 non-null  object
 1   facilityid              39462 non-null  int64
 2   facilityname            39462 non-null  object
 3   city                    39462 non-null  object
 4   school_total            39462 non-null  object
 5   reporting_period        39462 non-null  object
 6   dateupdated             39462 non-null  datetime64[ns]
 7   reporting_period_start  39462 non-null  datetime64[ns]
 8   reporting_period_end    39462 non-null  datetime64[ns]
 9   school_total_lower_est  39462 non-null  int64
 10  school_total_mid_est    39462 non-null  int64
 11  school_total_upper_est  39462 non-null  int64
dtypes: datetime64[ns](3), int64(4), object(5)
memory usage: 3.9+ MB

In [31]:
%%time

df['true_city'] = None
for index, row in df.iterrows():
    if row['city'] in cities_to_map:
        df.loc[index, 'true_city'] = map_dict[row['city']]
    else:
        df.loc[index, 'true_city'] = row['city']

Wall time: 44.5 s

In [32]:
df.nunique()

district                   221
facilityid                2373
facilityname              2338
city                       194
school_total                25
reporting_period            17
dateupdated                 17
reporting_period_start      17
reporting_period_end        17
school_total_lower_est      25
school_total_mid_est        25
school_total_upper_est      25
true_city                  168
dtype: int64

**NOTE:** true_city is suitalbe for merging with our existing layers

In [33]:
[school_town for school_town in list(towns_pop.Town.unique()) 
                 if school_town not in list(df.true_city.unique())]

['Harwinton', 'Willington']

## Merge with town population data

In [34]:
towns_pop['true_city']=towns_pop['Town']
Final=pandas.merge(df,towns_pop,on=["true_city"],how="left").drop('Town',axis=1)
Final

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,school_total_mid_est,school_total_upper_est,true_city,Pop
0,Achievement First Bridgeport Academy District,3673,Achievement First Bridgeport Academy,Bridgeport,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,Bridgeport,144900.0
1,Achievement First Hartford Academy District,3675,Achievement First Hartford Academy,Hartford,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,Hartford,122587.0
2,Amistad Academy District,3669,Amistad Academy,New Haven,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,New Haven,130418.0
3,Andover School District,1402,Andover Elementary School,Andover,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,Andover,3231.0
4,Ansonia School District,1416,Ansonia 18-21 Transition Program,Ansonia,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,Ansonia,18721.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,Wolcott School District,3499,Wakelee School,Wolcott,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,0,0,Wolcott,16649.0
39458,Wolcott School District,3502,Wolcott High School,Wolcott,<6,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,1,3,5,Wolcott,16649.0
39459,Woodbridge School District,3504,Beecher Road School,Woodbridge,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,0,0,Woodbridge,8805.0
39460,Woodstock School District,3508,Woodstock Elementary School,Woodstock,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,0,0,Woodstock,7862.0
39461,Woodstock School District,3509,Woodstock Middle School,Woodstock,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,0,0,Woodstock,7862.0

## Group by facility to create cumulative sums

In [35]:
Grouped=Final.groupby('facilityname')

In [36]:
#ss=Final['school_total_lower_est'].cumsum(axis=0, skipna=True)

In [37]:
Final_all=[]
for name, group in Grouped:
    item=pandas.DataFrame(group).sort_values(['reporting_period_end'])
    item['Cumul_total_lower_est']=item['school_total_lower_est'].cumsum(axis=0, skipna=True)
    item['Cumul_total_mid_est']=item['school_total_mid_est'].cumsum(axis=0, skipna=True)
    item['Cumul_total_upper_est']=item['school_total_upper_est'].cumsum(axis=0, skipna=True)
    Final_all.append(item)
Fin= pandas.concat(Final_all, ignore_index=True)
Fin

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,school_total_mid_est,school_total_upper_est,true_city,Pop,Cumul_total_lower_est,Cumul_total_mid_est,Cumul_total_upper_est
0,Bridgeport School District,1488,A Child's World,Bridgeport,0,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,0,0,0,Bridgeport,144900.0,0,0,0
1,Bridgeport School District,1488,A Child's World,Bridgeport,0,11/05/2020-11/11/2020,2020-11-12,2020-11-05,2020-11-11,0,0,0,Bridgeport,144900.0,0,0,0
2,Bridgeport School District,1488,A Child's World,Bridgeport,0,11/12/2020-11/18/2020,2020-11-19,2020-11-12,2020-11-18,0,0,0,Bridgeport,144900.0,0,0,0
3,Bridgeport School District,1488,A Child's World,Bridgeport,0,11/19/2020-11/25/2020,2020-11-25,2020-11-19,2020-11-25,0,0,0,Bridgeport,144900.0,0,0,0
4,Bridgeport School District,1488,A Child's World,Bridgeport,0,11/26/2020-12/02/2020,2020-12-03,2020-11-26,2020-12-02,0,0,0,Bridgeport,144900.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/14/2021-01/20/2021,2021-01-21,2021-01-14,2021-01-20,0,0,0,Hartford,122587.0,0,0,0
39458,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/21/2021-01/27/2021,2021-01-28,2021-01-21,2021-01-27,0,0,0,Hartford,122587.0,0,0,0
39459,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/28/2021-02/03/2021,2021-02-04,2021-01-28,2021-02-03,0,0,0,Hartford,122587.0,0,0,0
39460,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,02/04/2021-02/10/2021,2021-02-11,2021-02-04,2021-02-10,0,0,0,Hartford,122587.0,0,0,0
39461,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,0,0,Hartford,122587.0,0,0,0

## Extract corresponding CT cases and merge with schools data

In [38]:
Cases=pandas.read_csv("../CT_towns.csv")
Cases['Date'] = pandas.to_datetime(Cases['Date'])
# Grouped_towns=Cases.groupby('Town')
# Final_all_towns=[]
# for name, group in Grouped_towns:
#     item=pandas.DataFrame(group).sort_values(['Date'])
#     item['Cumul_Cases']=item['Cases'].cumsum(axis=0, skipna=True)
#     item['Cumul_Deaths']=item['Deaths'].cumsum(axis=0, skipna=True)
#     Final_all_towns.append(item)
# Fin_towns= pandas.concat(Final_all_towns, ignore_index=True)
# Fin_towns
Cases

,Town,Date,Cases,CaseRate,Deaths,PeopleTested,RateTested100k,Lat,Lon,ConfirmedCases_shifted_14_days,Cases added during 14 days,Deaths added during 14 days
0,Sharon,2020-03-24,1,0.0,0,0.0,0.0,41.860761,-73.449213,0.0,0.0,0.0
1,Sharon,2020-03-25,1,0.0,0,0.0,0.0,41.860761,-73.449213,0.0,0.0,0.0
2,Sharon,2020-03-26,2,0.0,0,0.0,0.0,41.860761,-73.449213,0.0,0.0,0.0
3,Sharon,2020-03-27,2,0.0,0,0.0,0.0,41.860761,-73.449213,0.0,0.0,0.0
4,Sharon,2020-03-28,3,0.0,0,0.0,0.0,41.860761,-73.449213,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39203,Thomaston,2021-01-01,384,5079.0,3,3394.0,44894.0,41.664891,-73.095873,289.0,95.0,0.0
39204,Thomaston,2021-01-03,396,5238.0,3,3423.0,45278.0,41.664891,-73.095873,304.0,92.0,0.0
39205,Thomaston,2021-01-04,398,5265.0,3,3432.0,45397.0,41.664891,-73.095873,306.0,92.0,0.0
39206,Thomaston,2021-01-05,402,5317.0,3,3450.0,45635.0,41.664891,-73.095873,315.0,87.0,0.0
39207,Thomaston,2021-01-06,411,5437.0,3,3469.0,45886.0,41.664891,-73.095873,324.0,87.0,0.0

In [39]:
Merged=pandas.merge(Fin,Cases[['Town','Date','Cases','Deaths','Cases added during 14 days','Deaths added during 14 days']],left_on=['true_city','reporting_period_end'], right_on=['Town','Date'],how="left").drop('Town',axis=1)

In [40]:
# Merged['Location']=""
# Merged['Lon']=""
# Merged['Lat']=""
# Merged

In [41]:
import pandas as pd
import json
import logging
import requests

In [42]:
# API_KEY = 'AIzaSyDLwOpd_nEMDdFfrkxc4p8CNbyWecGst4o'
# GOOGLE_MAPS_URL = 'https://maps.googleapis.com/maps/api/geocode/json?'

In [43]:

def get_location(addr):
    url = "".join([GOOGLE_MAPS_URL, f"&address=Connecticut {addr} ", "&key=", API_KEY])

    response = requests.get(url)
    data = json.loads(response.text)

    location = data['results'][0]['formatted_address']
    location_lat = data['results'][0]['geometry']['location']['lat']
    location_lng = data['results'][0]['geometry']['location']['lng']

    return {'location': location, 'lat': location_lat, 'lng': location_lng}

In [44]:
# for index,row in Merged.iterrows():
#     Temp=get_location(str(str(Merged.iloc[index,:]['facilityname'])+str(Merged.iloc[index,:]['true_city']+str(Merged.iloc[index,:]['district']))))
#     Merged.iloc[index,22]=Temp.get('location')
#     Merged.iloc[index,23]=Temp.get('lng')
#     Merged.iloc[index,24]=Temp.get('lat')

In [45]:
Merged['State']="Connecticut"
Merged=Merged[(Merged['facilityname'].str.contains(pat = 'School')) |(Merged['facilityname'].str.contains(pat = 'school')) | (Merged['facilityname'].str.contains(pat = 'Academy')) | (Merged['facilityname'].str.contains(pat = 'academy'))]
Merged

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,...,Pop,Cumul_total_lower_est,Cumul_total_mid_est,Cumul_total_upper_est,Date,Cases,Deaths,Cases added during 14 days,Deaths added during 14 days,State
16,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,...,22216.0,0,0,0,2020-10-28,180.0,12.0,36.0,0.0,Connecticut
17,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,1,...,22216.0,1,3,5,2020-11-04,193.0,12.0,44.0,0.0,Connecticut
18,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/05/2020-11/11/2020,2020-11-12,2020-11-05,2020-11-11,1,...,22216.0,2,6,10,2020-11-11,216.0,13.0,60.0,1.0,Connecticut
19,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/12/2020-11/18/2020,2020-11-19,2020-11-12,2020-11-18,1,...,22216.0,3,9,15,2020-11-18,244.0,13.0,62.0,1.0,Connecticut
20,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,11/19/2020-11/25/2020,2020-11-25,2020-11-19,2020-11-25,0,...,22216.0,3,9,15,NaT,NaN,NaN,NaN,NaN,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/14/2021-01/20/2021,2021-01-21,2021-01-14,2021-01-20,0,...,122587.0,0,0,0,NaT,NaN,NaN,NaN,NaN,Connecticut
39458,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/21/2021-01/27/2021,2021-01-28,2021-01-21,2021-01-27,0,...,122587.0,0,0,0,NaT,NaN,NaN,NaN,NaN,Connecticut
39459,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,01/28/2021-02/03/2021,2021-02-04,2021-01-28,2021-02-03,0,...,122587.0,0,0,0,NaT,NaN,NaN,NaN,NaN,Connecticut
39460,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,02/04/2021-02/10/2021,2021-02-11,2021-02-04,2021-02-10,0,...,122587.0,0,0,0,NaT,NaN,NaN,NaN,NaN,Connecticut
39461,Hartford School District,2122,iGoal 2 - Bulkeley High School,Hartford,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,...,122587.0,0,0,0,NaT,NaN,NaN,NaN,NaN,Connecticut

In [46]:
Schools_geocoded=pd.read_csv('2020.01.29_public_schools.csv')
Schools_geocoded

,Unnamed: 0,District Name,School Name,Organization Type,Organization Code,Address,Town,Zipcode,Phone,PreKindergarten,...,Grade 10,Grade 11,Grade 12,Student Open Date,Interdistrict Magnet,Location,address_for_query,formatted_address,lat,lng
0,0,Chaplin School District,Chaplin School District,Public School Districts,240011,"Box 277, 304 Parish Hill",Chaplin,06235,860-455-9306,1,...,0,0,0,1996-07-01T00:00:00.000,0.0,NaN,"Box 277, 304 Parish Hill, Chaplin, Connecticut...","304 Parish Hill Rd, Chaplin, CT 06235, USA",41.751669,-72.104931
1,1,East Haddam School District,East Haddam School District,Public School Districts,410011,"Box 401, 1 Plains Road",Moodus,06469,860-873-5090,1,...,1,1,1,1996-07-01T00:00:00.000,0.0,NaN,"Box 401, 1 Plains Road, Moodus, Connecticut, USA","1 Plains Rd #401, Moodus, CT 06469, USA",41.498663,-72.449716
2,2,Killingly School District,Killingly School District,Public School Districts,690011,"PO BOX 210, 79 Westfield Avenue",Danielson,06239,860-779-6600,1,...,1,1,1,1996-07-01T00:00:00.000,0.0,NaN,"PO BOX 210, 79 Westfield Avenue, Danielson, Co...","79 Westfield Ave #210, Danielson, CT 06239, USA",41.812744,-71.880387
3,3,New Haven School District,Beecher School,Public Schools,930311,100 Jewel Street,New Haven,06511,475-220-3800,1,...,0,0,0,1984-07-01T00:00:00.000,1.0,NaN,"100 Jewel Street, New Haven, Connecticut, USA","100 Jewell St, New Haven, CT 06515, USA",41.326116,-72.953640
4,4,Orange School District,Mary L. Tracy School,Public Schools,1070211,650 School House Lane,Orange,06477-2414,203-891-8028,1,...,0,0,0,1989-07-01T00:00:00.000,0.0,NaN,"650 School House Lane, Orange, Connecticut, USA","650 Schoolhouse Ln, Orange, CT 06477, USA",41.280116,-73.026046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1215,East Lyme School District,Niantic Center School,Public Schools,450211,7 West Main St.,Niantic,06357-2319,860-739-3961,0,...,0,0,0,1984-07-01T00:00:00.000,0.0,"7 West Main St.\nNiantic, CT 06357-2319\n(41.3...","7 West Main St., Niantic, Connecticut, USA","7 W Main St, Niantic, CT 06357, USA",41.322715,-72.203344
1216,1216,Wallingford School District,Moses Y. Beach School,Public Schools,1480111,340 North Main Street,Wallingford,06492-3735,203-294-3940,1,...,0,0,0,1984-07-01T00:00:00.000,0.0,"340 North Main Street\nWallingford, CT 06492-3...","340 North Main Street, Wallingford, Connecticu...","340 N Main St, Wallingford, CT 06492, USA",41.460178,-72.815139
1217,1217,Bristol School District,Bristol Eastern High School,Public Schools,176211,632 King St.,Bristol,06010-4477,860-584-7876,0,...,1,1,1,1984-07-01T00:00:00.000,0.0,"632 King St.\nBristol, CT 06010-4477\n(41.6851...","632 King St., Bristol, Connecticut, USA","632 King Street, Bristol, CT 06010, USA",41.685750,-72.921879
1218,1218,Windsor Locks School District,Windsor Locks School District,Public School Districts,1650011,58 South Elm Street,Windsor Locks,06096,860-292-5000,1,...,1,1,1,1996-07-01T00:00:00.000,0.0,"58 South Elm Street\nWindsor Locks, CT 06096\n...","58 South Elm Street, Windsor Locks, Connecticu...","58 S Elm St, Windsor Locks, CT 06096, USA",41.921413,-72.643470
1219,1219,Westport School District,Westport School District,Public School Districts,1580011,110 Myrtle Avenue,Westport,06880,203-341-1025,1,...,1,1,1,1996-07-01T00:00:00.000,0.0,"110 Myrtle Avenue\nWestport, CT 06880\n(41.145...","110 Myrtle Avenue, Westport, Connecticut, USA","110 Myrtle Ave, Westport, CT 06880, USA",41.145097,-73.360047

In [47]:
Merged_v2=pandas.merge(Merged,Schools_geocoded[['School Name','Town','formatted_address','lat','lng']],left_on=['true_city','facilityname'], right_on=['Town','School Name'],how="left").drop(['Town','School Name'],axis=1)
Merged_v2=Merged_v2[Merged_v2['lat'].notna()]
Merged_v2
Merged_v2 = Merged_v2.groupby('facilityid').filter(lambda x: x['school_total'].max()!='0' )
Merged_v2.reset_index(drop=True, inplace=True) # reset index
Merged_v2

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,...,Cumul_total_upper_est,Date,Cases,Deaths,Cases added during 14 days,Deaths added during 14 days,State,formatted_address,lat,lng
0,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,...,0,2020-10-28,180.0,12.0,36.0,0.0,Connecticut,"68 Bullard Dr, Guilford, CT 06437, USA",41.337824,-72.71886
1,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,1,...,5,2020-11-04,193.0,12.0,44.0,0.0,Connecticut,"68 Bullard Dr, Guilford, CT 06437, USA",41.337824,-72.71886
2,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/05/2020-11/11/2020,2020-11-12,2020-11-05,2020-11-11,1,...,10,2020-11-11,216.0,13.0,60.0,1.0,Connecticut,"68 Bullard Dr, Guilford, CT 06437, USA",41.337824,-72.71886
3,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/12/2020-11/18/2020,2020-11-19,2020-11-12,2020-11-18,1,...,15,2020-11-18,244.0,13.0,62.0,1.0,Connecticut,"68 Bullard Dr, Guilford, CT 06437, USA",41.337824,-72.71886
4,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,11/19/2020-11/25/2020,2020-11-25,2020-11-19,2020-11-25,0,...,15,NaT,NaN,NaN,NaN,NaN,Connecticut,"68 Bullard Dr, Guilford, CT 06437, USA",41.337824,-72.71886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14122,Woodstock School District,3509,Woodstock Middle School,Woodstock,0,01/14/2021-01/20/2021,2021-01-21,2021-01-14,2021-01-20,0,...,20,NaT,NaN,NaN,NaN,NaN,Connecticut,"147b CT-169, Woodstock, CT 06281, USA",41.927174,-71.95565
14123,Woodstock School District,3509,Woodstock Middle School,Woodstock,<6,01/21/2021-01/27/2021,2021-01-28,2021-01-21,2021-01-27,1,...,25,NaT,NaN,NaN,NaN,NaN,Connecticut,"147b CT-169, Woodstock, CT 06281, USA",41.927174,-71.95565
14124,Woodstock School District,3509,Woodstock Middle School,Woodstock,<6,01/28/2021-02/03/2021,2021-02-04,2021-01-28,2021-02-03,1,...,30,NaT,NaN,NaN,NaN,NaN,Connecticut,"147b CT-169, Woodstock, CT 06281, USA",41.927174,-71.95565
14125,Woodstock School District,3509,Woodstock Middle School,Woodstock,<6,02/04/2021-02/10/2021,2021-02-11,2021-02-04,2021-02-10,1,...,35,NaT,NaN,NaN,NaN,NaN,Connecticut,"147b CT-169, Woodstock, CT 06281, USA",41.927174,-71.95565
14126,Woodstock School District,3509,Woodstock Middle School,Woodstock,0,02/11/2021-02/17/2021,2021-02-18,2021-02-11,2021-02-17,0,...,35,NaT,NaN,NaN,NaN,NaN,Connecticut,"147b CT-169, Woodstock, CT 06281, USA",41.927174,-71.95565

In [80]:
Merged_v2.to_csv('data_storage/schools_withmeta_v2.csv', index=False)

In [81]:
Merged_last=Merged_v2[Merged_v2['reporting_period_end']==np.max(Merged_v2['reporting_period_end'])]
Merged_last
Merged_last.to_csv('data_storage/schools_latest_v2.csv', index=False)

In [67]:
Merged_v3 = Merged.groupby('facilityid').filter(lambda x: x['school_total'].max()!='0' )
Merged_v3.reset_index(drop=True, inplace=True) # reset index
Merged_v3

,district,facilityid,facilityname,city,school_total,reporting_period,dateupdated,reporting_period_start,reporting_period_end,school_total_lower_est,...,Pop,Cumul_total_lower_est,Cumul_total_mid_est,Cumul_total_upper_est,Date,Cases,Deaths,Cases added during 14 days,Deaths added during 14 days,State
0,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,10/22/2020 - 10/28/2020,2020-10-29,2020-10-22,2020-10-28,0,...,22216.0,0,0,0,2020-10-28,180.0,12.0,36.0,0.0,Connecticut
1,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,10/29/2020-11/04/2020,2020-11-05,2020-10-29,2020-11-04,1,...,22216.0,1,3,5,2020-11-04,193.0,12.0,44.0,0.0,Connecticut
2,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/05/2020-11/11/2020,2020-11-12,2020-11-05,2020-11-11,1,...,22216.0,2,6,10,2020-11-11,216.0,13.0,60.0,1.0,Connecticut
3,Guilford School District,2000,A. Baldwin Middle School,Guilford,<6,11/12/2020-11/18/2020,2020-11-19,2020-11-12,2020-11-18,1,...,22216.0,3,9,15,2020-11-18,244.0,13.0,62.0,1.0,Connecticut
4,Guilford School District,2000,A. Baldwin Middle School,Guilford,0,11/19/2020-11/25/2020,2020-11-25,2020-11-19,2020-11-25,0,...,22216.0,3,9,15,NaT,NaN,NaN,NaN,NaN,Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17678,Middletown School District,2359,Xavier High School,Middletown,10,01/07/2021-01/13/2021,2021-01-14,2021-01-07,2021-01-13,10,...,46146.0,35,45,55,NaT,NaN,NaN,NaN,NaN,Connecticut
17679,Middletown School District,2359,Xavier High School,Middletown,<6,01/14/2021-01/20/2021,2021-01-21,2021-01-14,2021-01-20,1,...,46146.0,36,48,60,NaT,NaN,NaN,NaN,NaN,Connecticut
17680,Middletown School District,2359,Xavier High School,Middletown,11,01/21/2021-01/27/2021,2021-01-28,2021-01-21,2021-01-27,11,...,46146.0,47,59,71,NaT,NaN,NaN,NaN,NaN,Connecticut
17681,Middletown School District,2359,Xavier High School,Middletown,<6,01/28/2021-02/03/2021,2021-02-04,2021-01-28,2021-02-03,1,...,46146.0,48,62,76,NaT,NaN,NaN,NaN,NaN,Connecticut
17682,Middletown School District,2359,Xavier High School,Middletown,<6,02/04/2021-02/10/2021,2021-02-11,2021-02-04,2021-02-10,1,...,46146.0,49,65,81,NaT,NaN,NaN,NaN,NaN,Connecticut

In [70]:
Merged_v3.to_csv('data_storage/schools_withmeta.csv', index=False)

In [71]:
Merged_last=Merged_v3[Merged_v3['reporting_period_end']==np.max(Merged_v3['reporting_period_end'])]
Merged_last
Merged_last.to_csv('data_storage/schools_latest.csv', index=False)

'Harwinton', 'Willington' do not have schools (check?)